In [1]:
import pandas as pd
import numpy as np
import sklearn

# Now We Can Start Modeling

In [5]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

C:\Users\Asper\anaconda3\envs\fastai\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [6]:
df_train = pd.read_feather(path('train-raw'))

In [7]:
add_datepart(df_train, fldnames='date', time=False, drop=False)

In [26]:
df_train

,date,item_nbr,unit_sales,onpromotion,is_holiday,family,class,dcoilwtico,transactions,city,state,type,cluster,Month,Week,Day,Dayofweek,Is_month_end,Is_month_start
0,2017-07-14,99197,3.0,False,False,GROCERY I,1067,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
1,2017-07-14,103520,6.0,False,False,GROCERY I,1028,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
2,2017-07-14,103665,8.0,False,False,BREAD/BAKERY,2712,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
3,2017-07-14,105574,6.0,False,False,GROCERY I,1045,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
4,2017-07-14,105575,10.0,False,False,GROCERY I,1045,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449416,2017-08-15,838215,18.0,False,True,DAIRY,2124,47.57,2814,Quito,Pichincha,A,11,8,33,15,1,False,False
3449417,2017-08-15,838216,23.0,False,True,DAIRY,2124,47.57,2814,Quito,Pichincha,A,11,8,33,15,1,False,False
3449418,2017-08-15,838217,5.0,False,True,DAIRY,2124,47.57,2814,Quito,Pichincha,A,11,8,33,15,1,False,False
3449419,2017-08-15,838400,12.0,False,True,DAIRY,2102,47.57,2814,Quito,Pichincha,A,11,8,33,15,1,False,False
3449420,2017-08-15,838406,13.0,False,True,DAIRY,2124,47.57,2814,Quito,Pichincha,A,11,8,33,15,1,False,False

In [9]:
df_train.drop(columns=['Dayofyear','Is_quarter_end', 'Is_year_end', 'Is_year_start', 'Elapsed', 'Year', 'Is_quarter_start'], inplace = True)

In [10]:
df_train

,date,item_nbr,unit_sales,onpromotion,is_holiday,family,class,dcoilwtico,transactions,city,state,type,cluster,Month,Week,Day,Dayofweek,Is_month_end,Is_month_start
0,2017-07-14,99197,3.0,False,False,GROCERY I,1067,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
1,2017-07-14,103520,6.0,False,False,GROCERY I,1028,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
2,2017-07-14,103665,8.0,False,False,BREAD/BAKERY,2712,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
3,2017-07-14,105574,6.0,False,False,GROCERY I,1045,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
4,2017-07-14,105575,10.0,False,False,GROCERY I,1045,46.53,1867,Quito,Pichincha,D,13,7,28,14,4,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3461416,2017-08-15,2089339,4.0,False,True,GROCERY I,1006,47.57,802,El Carmen,Manabi,C,3,8,33,15,1,False,False
3461417,2017-08-15,2106464,1.0,True,True,BEVERAGES,1148,47.57,802,El Carmen,Manabi,C,3,8,33,15,1,False,False
3461418,2017-08-15,2110456,192.0,False,True,BEVERAGES,1120,47.57,802,El Carmen,Manabi,C,3,8,33,15,1,False,False
3461419,2017-08-15,2113914,198.0,True,True,CLEANING,3040,47.57,802,El Carmen,Manabi,C,3,8,33,15,1,False,False
3461420,2017-08-15,2116416,2.0,False,True,GROCERY I,1060,47.57,802,El Carmen,Manabi,C,3,8,33,15,1,False,False

In [11]:
df_train.onpromotion = df_train.onpromotion == True

In [12]:
df_train.is_holiday = df_train.is_holiday == True

In [13]:
train_cats(df_train)

In [27]:
df, y, nas = proc_df(df_train, 'unit_sales')

In [60]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.9360145016040228

In [43]:
def split_vals(a,n): return a[:n], a[n:]
n_valid = 4100
n_trn = len(df)-n_valid
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)
df_train, df_valid = split_vals(df_train, n_trn)

In [16]:
len(df_train)

3449421

In [17]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [ ]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

In [85]:
m = RandomForestRegressor(n_jobs=-1, n_estimators=40, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

Wall time: 3min 16s
[6.273734827210499, 13.97057015306963, 0.9313840512285132, 0.6599927073784264, 0.4897507962871268]

In [29]:
set_rf_samples(86000)

In [87]:
m = RandomForestRegressor(n_estimators=50, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

Wall time: 1min 58s
[12.402107254311165, 13.230040816570874, 0.731858693099953, 0.69508250781194, 0.5036574402965049]

In [44]:
m = RandomForestRegressor(n_estimators=40, min_samples_leaf=3, max_features='auto', n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

Wall time: 3min 12s
[11.367051036233239, 7.6570682367231235, 0.774881906491058, 0.7947383344621897, 0.526798712314926]

In [45]:
fi = rf_feat_importance(m, df); fi[:20]

              cols       imp
1         item_nbr  0.346907
7     transactions  0.158204
5            class  0.079469
9            state  0.070214
11         cluster  0.059761
0             date  0.053373
8             city  0.052898
14             Day  0.040906
15       Dayofweek  0.033449
4           family  0.028309
6       dcoilwtico  0.026629
10            type  0.018556
2      onpromotion  0.015344
18   dcoilwtico_na  0.006003
13            Week  0.004539
3       is_holiday  0.002833
17  Is_month_start  0.001355
12           Month  0.000925
16    Is_month_end  0.000328

In [46]:
to_keep = fi[fi.imp>0.005].cols; len(to_keep)

14

In [47]:
df_keep = df[to_keep].copy()
X_train, X_valid = split_vals(df_keep, n_trn)

In [48]:
#df_trn, y_trn, nas = proc_df(df_train, 'unit_sales')
#X_train, X_valid = split_vals(df_trn, n_trn)
#y_train, y_valid = split_vals(y_trn, n_trn)

In [49]:
m = RandomForestRegressor(n_estimators=40, min_samples_leaf=2, max_features='auto', n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

Wall time: 2min 49s
[9.608943529714358, 7.65999459510568, 0.8391333327132968, 0.7945814117450127, 0.531626750792304]

In [35]:
df_train.family.cat.categories

Index(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY', 'PREPARED FOODS',
       'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES', 'SEAFOOD'],
      dtype='object')

In [36]:
df_train.family = df_train.family.cat.codes

C:\Users\Asper\anaconda3\envs\fastai\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [112]:
m = RandomForestRegressor(n_estimators=40, min_samples_leaf=2, max_features='auto', n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

Wall time: 3min 7s
[9.687357593598753, 13.114620047499718, 0.8363999550136223, 0.7003795879969601, 0.5168348366249621]

# The competition uses NWRMSLE to calculate the preformance (Not complete)

In [54]:
def calculate_nwrmsle(true,pred,weight):
    ''' 
    Calculates Normalized Weighted Root Mean Squared Logarithmic Error (nwrmsle)

    true = true labels
    pred =  predicted labels
    weight = weights of datapoints

    returns nwrmsle '''

    temp = (true - np.array(pred).transpose())**2
    print(temp)
    print(weight)
    temp = temp * weight
    nwrmsle = np.sqrt(temp.sum() / weight.sum() / 16)
    return nwrmsle

In [55]:
weight = df_items["perishable"] * 0.25 + 1
print(calculate_nwrmsle(y_valid, m.predict(X_valid), weight))

[ 0.06603  1.01469 89.43995 ...  5.63956 20.58595  4.89105]
0       1.00
1       1.00
2       1.00
3       1.00
4       1.25
        ...
4095    1.00
4096    1.00
4097    1.00
4098    1.00
4099    1.00
Name: perishable, Length: 4100, dtype: float64
2.0030160257202185

In [114]:
y_valid.shape, y_train.shape

((12000,), (3449421,))

In [115]:
X_valid.shape, X_train.shape

((12000, 19), (3449421, 19))